/*=================== seção "Depoimentos" ===================*/
.depoimentos{
    background-color: #F0F2F5;
    color: #4D6361;
}

.img-depoimentos{
    position: absolute;
    width: 31vw;
    left: 5em;
    margin-top: 6em;
}

.cardDepoimento{
    width: 415px;
    z-index: 9;
}

.cardDepoimento .avaliacao{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #fefeff;
    box-shadow: 0px 5px 10px #1b55880c;
}

.cardDepoimento .avaliacao img{
    margin-left: -10px;
}

@media(max-width: 589px){
    .img-depoimentos{
        width: 230px;
        left: -9em;
        margin-top: 9em;
    }
}