.card-solucoes{
    cursor: pointer;
}

.card-solucoes button{
    background-color: #CED5D0;
    border: none;
    border-radius: 35px;
    padding: 0.65em 1em;
    margin-left: 2.5em;
    margin-top: -1.5em;
    transition: .3s;
}

.card-solucoes:hover  button{
    background-color: #12A2DA;
    color: #fff;
}